 <div class="container padding-bottom" id="about">              

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 about-caption text-center">
                        <!-- Section General Title -->
                        <div class="general-title">
                            <h2>Who We Are!</h2>
                            <div class="space-bottom-2x"></div>   
                        </div>
                        <p>Thanks for visiting us at our new web address. Here at BCE Designs we will endeavour to fulfil all your cabinet making needs, from your small bathroom ensuite to complete house fitouts.
                        </p>
                        <br/>
                        <p>BCE Designs was started in 2009 by company director Ben Edser. Ben a 19 year veteran to the indusrty, completed his apprenticeship in the Redlands district and has worked locally ever since.  

                        Here at BCE Designs we are committed to on time delivery and customer satisfaction.  

                         - BSA Licenced.</p>
                    </div>                            
                </div>                
            </div>