<div class="footer-big">
            <div class="container">
                <div class="row">

                    <!-- About Us Information -->
                    <div class="col-md-3 col-sm-6">                           
                        <div class="f-logo">
                            <h2>Our<br>Offices</h2>                                                                    
                        </div>
                    </div>
                    
                    <!-- Recent Posts -->
                    <div class="col-md-3 col-sm-6 f-inner">                        
                        <div class="col-sm-2">
                            <i class="fa fa-map-marker fa-lg"></i> 
                        </div>
                        <div class="col-sm-10">
                            <strong>Sydney</strong>
                            <div class="f-space"></div>
                            <address>                                
                                795 Folsom Ave, Suite 600<br>                                
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                                first.last@example.com
                                <a href="mailto:ben@bcedesigns.com.au">ben@bcedesigns.com.au</a>
                                <a href="mailto:bcedesigns@aanet.com.au">bcedesigns@aanet.com.au</a>
                            </address>                           
                        </div>
                    </div>


                </div>
            </div>
        </div>  

        <div id="footer">
            <div class="container">   
                <div class="row">                                                         
                    <!-- Copyright -->                                                       
                    <div class="col-sm-6 col-md-6 f-copyright">                        
                        <span>Copyright © 2011 BCE Designs All right reserved.</span>                        
                    </div>                      
                    <div class="col-sm-6 col-md-6">
                        <!-- Social Icons -->                              
                        <ul class="footer-social">
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-skype fa-stack-1x fa-inverse"></i></span></a></li>
                            <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>
                        </ul>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
