<div class="footer-big">
            <div class="container">
                <div class="row">

                    <!-- About Us Information -->
                    <div class="col-md-3 col-sm-6">                           
                        <div class="f-logo">
                            <h2>Our<br>Contact</h2>                                                                    
                        </div>
                    </div>
                    
                    <!-- Recent Posts -->
                    <div class="col-md-3 col-sm-6 f-inner">                        
                        <div class="col-sm-2">
                            <i class="fa fa-map-marker fa-lg"></i> 
                        </div>
                        <div class="col-sm-10">
                            <strong>Ben Edser</strong>
                            <div class="f-space"></div>
                            <address>                                
                                <a class="conatct" href="tel:+61 402 559 824">+61 402 559 824</a>
                                <a class="conatct" href="mailto:ben@bcedesigns.com.au?subject=Enquiry">ben@bcedesigns.com.au</a>
                            </address>                           
                        </div>
                    </div>

                </div>
            </div>
        </div>  

        <div id="footer">
            <div class="container">   
                <div class="row">                                                         
                    <!-- Copyright -->                                                       
                    <div class="col-sm-6 col-md-6 f-copyright">                        
                        <span>Copyright © 2016 BCE Designs All rights reserved.</span>                        
                    </div>                      
                </div><!-- /row -->
            </div><!-- /container -->
        </div>
