 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contact Form (name, email, phone and message inputs for your email form "should change your email adress in contact.php file") -->     
                        <div id="contact">                            
                            <div id="message"></div>
                            <form method="post" action="contact.php" name="contactform" id="contactform">
                                <fieldset>
                                    <div class="col-md-12">
                                        <!-- Name -->
                                        <input name="name" type="text" id="name" size="30" value="" placeholder="Name"/>
                                        <br />
                                        <!-- Email -->
                                        <input name="email" type="text" id="email" size="30" value="" placeholder="Email"/>
                                        <br /> 
                                        <!-- Phone -->
                                        <input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"/>

                                        <!-- Message -->                                                                        
                                        <textarea name="comments" cols="40" rows="5" id="comments" placeholder="Message"></textarea>
                                         
                                        <!-- Submit Button -->                                        
                                        <button type="submit" class="btn blog-btn submit" id="submit" value="Submit">Submit</button>
                                    </div>                                                                                                                                                             
                                </fieldset>
                            </form>                            
                        </div>          
                        <!-- End Contact Form -->
                    </div>                    
                </div>
            </div>
        </div> 