<div class="container padding-top-x2 padding-bottom text-center">
                <!-- Section General Title -->
                <div class="general-title">
                    <h2>Pricing Tables</h2>
                    <div class="space-bottom-2x"></div>      
                </div>
                <div class="row text-center">

                    <div class="col-sm-4">
                        <div class="thumbnail price-table">                                
                            <div class="caption">
                                <h3>Basic</h3>
                                <br>
                                <h1>$500</h1>                                
                                <small>Per Project</small>
                                <div class="space-bottom-2x"></div>                                    
                                <p>Vivamus ullamcorper sed</p>
                                <p>Suspendisse porttitor</p>
                                <p>Cras pretium tortor</p>
                                <p>Vivamus consectetur velit</p>
                                <div class="space-bottom-2x"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="thumbnail price-table">                                
                            <div class="caption">
                                <h3>Premium</h3>
                                <br>
                                <h1>$1000</h1>     
                                <small>Per Project</small>
                                <div class="space-bottom-2x"></div>                                    
                                <p>Vivamus ullamcorper sed</p>
                                <p>Suspendisse porttitor</p>
                                <p>Cras pretium tortor</p>
                                <p>Vivamus consectetur velit</p>
                                <div class="space-bottom-2x"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="thumbnail price-table">                                
                            <div class="caption">
                                <h3>Advance</h3>
                                <br>
                                <h1>$2000</h1>    
                                <small>Per Project</small>
                                <div class="space-bottom-2x"></div>                                    
                                <p>Vivamus ullamcorper sed</p>
                                <p>Suspendisse porttitor</p>
                                <p>Cras pretium tortor</p>
                                <p>Vivamus consectetur velit</p>
                                <div class="space-bottom-2x"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>