<div class="new-wrapper" style="display: none;">
    <p>images</p>
</div>

<div class="container padding-bottom padding-top-x2" id="projects">
                <div class="row">
                               
                    <!-- Section General Title -->
                    <div class="general-title text-center">
                        <h2>Our Works</h2>
                        <div class="space-bottom-2x"></div>   
                    </div>
                             
                    <!-- Portfolio Filter
                    <div id="filters-container" class="cbp-l-filters-alignRight">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".apartments" class="cbp-filter-item">
                            Apartments <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".houses" class="cbp-filter-item">
                            Houses <div class="cbp-filter-counter"></div>
                        </div>
                        
                    </div>-->

                    <div id="grid-container" class="cbp-l-grid-masonry">
                        <ul>

                            <!-- Portfolio Item (image and description)
                            <li class="cbp-item apartments cbp-l-grid-masonry-height2">
                                <a class="cbp-caption cbp-lightbox" data-title="YouTube Embed" href="https://www.youtube.com/watch?v=53c6o_cNPEo&feature=youtu.be">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/img/projects/1.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">YouTube Embed</div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li> -->

                            <!-- Portfolio Item (image and description) -->
                            

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-1.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-1.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 1</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-2.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-2.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 2</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-3.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-3.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-4.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-4.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 4</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-5.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-5.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 5</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-6.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-6.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 6</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-7.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-7.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 7</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-8.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-8.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 8</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-9.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-9.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 9</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            

                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-10.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-10.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 10</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>


                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-11.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-11.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 11</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-12.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-12.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 12</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox"  href="images/gallery-13.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-13.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 13</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-14.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-14.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 14</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" href="images/gallery-15.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-15.jpg" alt="Gallery image">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 15</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>                                                    
                </div><!-- /row -->   
            </div>