<div class="container padding-bottom padding-top-x2" id="projects">
                <div class="row">
                               
                    <!-- Section General Title -->
                    <div class="general-title text-center">
                        <h2>Our Works</h2>
                        <div class="space-bottom-2x"></div>   
                    </div>
                             
                    <!-- Portfolio Filter -->
                    <div id="filters-container" class="cbp-l-filters-alignRight">
                        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                            All <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".apartments" class="cbp-filter-item">
                            Apartments <div class="cbp-filter-counter"></div>
                        </div>
                        <div data-filter=".houses" class="cbp-filter-item">
                            Houses <div class="cbp-filter-counter"></div>
                        </div>
                        
                    </div>

                    <div id="grid-container" class="cbp-l-grid-masonry">
                        <ul>

                            <!-- Portfolio Item (image and description)
                            <li class="cbp-item apartments cbp-l-grid-masonry-height2">
                                <a class="cbp-caption cbp-lightbox" data-title="YouTube Embed" href="https://www.youtube.com/watch?v=53c6o_cNPEo&feature=youtu.be">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/img/projects/1.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">YouTube Embed</div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li> -->

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" 
                                data-title="Gallery 0" href="images/gallery-0.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-0.jpg" alt="Gallery 0">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Gallery 0</div>
                                                <div class="cbp-l-caption-desc">2014/04</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Summer House<br>2012/02" href="images/gallery-1.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-1.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Summer House</div>
                                                <div class="cbp-l-caption-desc">2012/02</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Villa in Vegas<br>2011/01" href="images/gallery-2.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-2.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Villa in Vegas</div>
                                                <div class="cbp-l-caption-desc">2011/01</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="House in Texas<br>2014/09" href="images/gallery-3.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-3.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">House in Texas</div>
                                                <div class="cbp-l-caption-desc">2014/09</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Luxury Apartment<br>2014/04" href="images/gallery-4.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-4.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Luxury Apartment</div>
                                                <div class="cbp-l-caption-desc">2014/04</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Luxury Villa<br>2012/02" href="images/gallery-5.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-5.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Luxury Villa</div>
                                                <div class="cbp-l-caption-desc">2012/02</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item apartments cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="House in Town<br>2014/04" href="images/gallery-6.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-6.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">House in Town</div>
                                                <div class="cbp-l-caption-desc">2014/04</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Apartment in Chicago<br>2014/05" href="images/gallery-7.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-7.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Apartment in Chicago</div>
                                                <div class="cbp-l-caption-desc">2014/05</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Luxury House<br>2012/01" href="images/gallery-8.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-8.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Luxury House</div>
                                                <div class="cbp-l-caption-desc">2012/01</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <!-- Portfolio Item (image and description) -->
                            <li class="cbp-item houses cbp-l-grid-masonry-height1">
                                <a class="cbp-caption cbp-lightbox" data-title="Villa in Town<br>2010/01" href="images/gallery-9.jpg">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="images/gallery-9.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Villa in Town</div>
                                                <div class="cbp-l-caption-desc">2010/01</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            
                        </ul>
                    </div>                                                    
                </div><!-- /row -->   
            </div>