<div class="container padding-bottom" id="services">              
                    
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 about-caption text-center">
                        <!-- Section General Title -->
                        <div class="general-title">
                            <h2>services</h2>
                            <div class="space-bottom-2x"></div>   
                        </div>
                        <p>BCE Designs offers a wide range of services including</p>
                        <div class="space-bottom-2x"></div>   
                    </div>                            
                </div>                
                <div class="row">    
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-2">
                            <i class="fa fa-html5 fa-2x"></i>                                    
                        </div>
                        <div class="col-sm-10">
                            <h3>Design</h3>                                                                        
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                        </div>
                    </div> 

                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-2">
                            <i class="fa fa-desktop fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Kitchen installation</h3>                                           
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
                        </div>
                    </div>
<p>&nbsp;</p>
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-2">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Bathroom installation</h3>                                                                                            
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>                                
                        </div>
                    </div> 

                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-2">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>New Benchtops for your kitchen</h3>                                                                                            
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>                                
                        </div>
                    </div>    

                </div><!-- /row -->                      
            </div>