<div class="container padding-bottom" id="services">              
                    
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 about-caption text-center">
                        <!-- Section General Title -->
                        <div class="general-title">
                            <h2>services</h2>
                            <div class="space-bottom-2x"></div>   
                        </div>
                        <div class="space-bottom-2x"></div>   
                    </div>                            
                </div>                
                <div class="row">    
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-html5 fa-2x"></i>                                    
                        </div>
                        <div class="col-sm-10">
                            <h3>Design</h3>
                        </div>
                    </div> 

                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-desktop fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Kitchens</h3>                                           
                            
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Vanities</h3>                                                                                            
                                                           
                        </div>
                    </div> 

                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Laundries</h3>                                                                                            
                                                           
                        </div>
                    </div>  
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Entertainment units</h3>                                                                                            
                                                           
                        </div>
                    </div>    
                    <!-- Item -->
                    <div class="col-md-6 about-caption">
                        <div class="col-sm-1">
                            <i class="fa fa-font fa-2x"></i>                                                                                
                        </div>
                        <div class="col-sm-10">
                            <h3>Custom built cabinetry</h3>                                                                                            
                                                           
                        </div>
                    </div>      

                </div><!-- /row -->                      
            </div>