<div id="testimonials">
                <div class="container text-center padding-bottom padding-top-x2">
                    <!-- Section General Title -->
                    <div class="general-title">
                        <h2>From Clients</h2>
                        <div class="space-bottom-2x"></div>   
                    </div>
                    <div class="row">
                        <div id="owl-testimonials" class="owl-carousel owl-theme">

                            <div class="item">
                                <div class="col-md-8 col-md-offset-2 t-info">            
                                    <p>Ben from BCE Designs, designed and installed my dream kitchen and laundry. His expert advice along with his extensive experience and knowledge made this whole experience stress free.  His workmanship could not be faulted and he has a great eye for detail. A very professional service, I highly recommend BCE Cabinet Making Designs.
</p>                                    
                                    <b>- Joanna, Brisbane QLD</b>
                                </div>                     
                            </div>

                            <div class="item">
                                <div class="col-md-8 col-md-offset-2 t-info">            
                                    <p>My wife and I wish to express our sincere appreciation to you for the design and installation of our new kitchen. Your advice and quality of workmanship was impeccable and everything from the planning stage through to the completion was carried out perfectly. We would highly recommend your company to anyone wishing to have similar work done.</p>                                    
                                    <b>- Scott &amp; Jodie, Algester QLD</b>
                                </div>                     
                            </div>

                            <div class="item">
                                <div class="col-md-8 col-md-offset-2 t-info">            
                                    <p>We have had the privilege of working with Ben from BCE Designs on the three projects. He has provided first class cabinetry for both our home and business. Accommodating in all aspects, Ben was able to walk us through our first build with his wealth of knowledge in the building industry. </p>
                                    <p>Ben’s service and attention to detail can only be beaten by the quality of his work. We have had friends and family in awe of the cabinetry on our latest project thanks to Ben’s ability to provide the exact finish your after. We most certainly would and have recommended Ben at BCE Designs to anyone looking for unrivalled cabinetry. </p>
                                    <b>- Pete &amp; Sarah, Manly QLD</b>
                                </div>                     
                            </div>

                            <div class="item">
                                <div class="col-md-8 col-md-offset-2 t-info">            
                                    <p>We had our Kitchen, Laundry and TV Cabinetry completed by Ben from BCE Designs. The whole process from designing to completion was very easy and stress free.</p>
                                    
                                    <p>Ben was always very helpful and happy to answer any questions that we had. We could not be more happy with the finished product as well as Bens service and will be back for all our cabinet making needs in the future.</p>
                                    <b>- Madonna, Carindale QLD</b>
                                </div>                     
                            </div>

                        </div>
                    </div>
                </div>
            </div>